// RED
$red-dark: #ab0e12;
$red-normal: #e42b2f;
$red-light: #fa3c41;

// WHITE COLORS
$white-dark: #e3e8ef;
$white-normal: #f0f3f7;
$white-light: #f8fbff;

// BLACK COLORS
$black-dark: #0a0c10;
$black-normal: #14181f;
$black-light: #272a31;

// GRAY COLORS
$gray-1: #444649;
$gray-2: #5d6063;
$gray-3: #787a7e;
$gray-4: #929498;
$gray-5: #abadb0;
$gray-6: #c4c6c8;
