// GAP's

// GAP X
.gx-1 {
  display: flex;
  column-gap: $s-1;
}

.gx-2 {
  display: flex;
  column-gap: $s-2;
}

.gx-3 {
  display: flex;
  column-gap: $s-3;
}

.gx-4 {
  display: flex;
  column-gap: $s-4;
}

.gx-5 {
  display: flex;
  column-gap: $s-5;
}

.gx-6 {
  display: flex;
  column-gap: $s-6;
}

.gx-7 {
  display: flex;
  column-gap: $s-7;
}

.gx-8 {
  display: flex;
  column-gap: $s-8;
}

// GAP XY
.gxy-1 {
  display: flex;
  row-gap: $s-1;
}

.gxy-2 {
  display: flex;
  row-gap: $s-2;
}

.gxy-3 {
  display: flex;
  row-gap: $s-3;
}

.gxy-4 {
  display: flex;
  row-gap: $s-4;
}

.gxy-5 {
  display: flex;
  row-gap: $s-5;
}

.gxy-6 {
  display: flex;
  row-gap: $s-6;
}

.gxy-7 {
  display: flex;
  row-gap: $s-7;
}

.gxy-8 {
  display: flex;
  row-gap: $s-8;
}

// GAP Y
.gy-1 {
  display: flex;
  flex-direction: column;
  column-gap: $s-1;
}

.gy-2 {
  display: flex;
  flex-direction: column;
  column-gap: $s-2;
}

.gy-3 {
  display: flex;
  flex-direction: column;
  column-gap: $s-3;
}

.gy-4 {
  display: flex;
  flex-direction: column;
  column-gap: $s-4;
}

.gy-5 {
  display: flex;
  flex-direction: column;
  column-gap: $s-5;
}

.gy-6 {
  display: flex;
  flex-direction: column;
  column-gap: $s-6;
}

.gy-7 {
  display: flex;
  flex-direction: column;
  column-gap: $s-7;
}

.gy-8 {
  display: flex;
  flex-direction: column;
  column-gap: $s-8;
}

// GAP XX

.gxx-1 {
  display: flex;
  gap: $s-1;
}

.gxx-2 {
  display: flex;
  gap: $s-2;
}

.gxx-3 {
  display: flex;
  gap: $s-3;
}

.gxx-4 {
  display: flex;
  gap: $s-4;
}

.gxx-5 {
  display: flex;
  gap: $s-5;
}

.gxx-6 {
  display: flex;
  gap: $s-6;
}

.gxx-7 {
  display: flex;
  gap: $s-7;
}

.gxx-8 {
  display: flex;
  gap: $s-8;
}

// GAP YY

.gyy-1 {
  display: flex;
  flex-direction: column;
  gap: $s-1;
}

.gyy-2 {
  display: flex;
  flex-direction: column;
  gap: $s-2;
}

.gyy-3 {
  display: flex;
  flex-direction: column;
  gap: $s-3;
}

.gyy-4 {
  display: flex;
  flex-direction: column;
  gap: $s-4;
}

.gyy-5 {
  display: flex;
  flex-direction: column;
  gap: $s-5;
}

.gyy-6 {
  display: flex;
  flex-direction: column;
  gap: $s-6;
}

.gyy-7 {
  display: flex;
  flex-direction: column;
  gap: $s-7;
}

.gyy-8 {
  display: flex;
  flex-direction: column;
  gap: $s-8;
}
